<h1><%= @cat.name %>'s Page</h1>

<table>
  <tr>
    <th align="left"><%= @cat.name %>'s stats</th>
  </tr>
<% @cat_attrs.each do |cat_attr|%>
<tr>
  <td><%= "#{@cat.name}'s #{cat_attr}" %></td>
  <td><%= "#{@cat[cat_attr]}"%></td>
</tr>
<% end %>
<tr><td><%= "#{@cat.name}'s owner" %></td><td><%= "#{@cat.owner.user_name}"%></td></tr>
</table>

<br>
<br>

<table>
  <tr>
    <th><%= @cat.name %>'s rental requests</th>
  </tr>
  <tr align="left">
    <th>Start Date</th><th>End Date</th><th>Status</th>
    <th>Renter Name</th><th>Rental Period Conflict?</th>
  </tr>
  <% @cat.cat_rental_requests.each do |rental_request| %>
    <tr>
      <td><%= rental_request.start_date %></td>
      <td><%= rental_request.end_date %></td>
      <td><%= rental_request.status %></td>
      <td align="center"><%= rental_request.requester.user_name %></td>
      <td align="center"><%= rental_request.has_conflict? ? "yes" : "no" %></td>
      <% if rental_request.status == "PENDING" %>
      <!-- flash comment about approval conflict -->
        <td>
          <%= button_to "Approve", approve_cat_rental_request_url(rental_request, :cat_id => @cat.id) %>
        </td>

        <td>
          <%= button_to "Deny", deny_cat_rental_request_url(rental_request, :cat_id => @cat.id) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<br>
<%= button_to "make all requests pending", pending_all_url(@cat) %>

<br>
<a href="<%=new_cat_rental_request_url(:cat_id => @cat.id)%>">Make a new rental request</a>
<%= link_to "make new request, other option", new_cat_rental_request_url(cat_id: @cat.id) %>
<br>
<br>
<a href="/cats/<%= @cat.id %>/edit">Edit <%= @cat.name %>'s information</a>
<br>
<a href="/cats">Go back to index page</a>
