<h1><%= @cat.name %>'s Page</h1>

<table>
  <tr>
    <th align="left"><%= @cat.name %>'s stats</th>
  </tr>
<% @cat_attrs.each do |cat_attr|%>
<tr>
  <td><%= "#{@cat.name}'s #{cat_attr}" %></td>
  <td><%= "#{@cat[cat_attr]}"%></td>
</tr>
<% end %>
</table>

<br>
<br>

<table>
  <tr>
    <th><%= @cat.name %>'s rental requests</th>
  </tr>
  <tr align="left">
    <th>start date</th><th>end date</th><th>status</th><th>conflict?</th>
  </tr>
  <% @cat.cat_rental_requests.each do |rental_request| %>
    <tr>
      <td><%= rental_request.start_date %></td>
      <td><%= rental_request.end_date %></td>
      <td><%= rental_request.status %></td>
      <td align="center"><%= rental_request.has_conflict? ? "yes" : "no" %></td>
      <% if rental_request.status == "PENDING" %>
      <!-- flash comment about approval conflict -->
        <td>
          <%= button_to "Approve", approve_cat_rental_request_url(rental_request) %>
        </td>

        <td>
          <%= button_to "Deny", deny_cat_rental_request_url(rental_request) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<br>
<%= button_to "make all requests pending", "/cat_rental_requests/#{@cat.id}/pending_all" %>

<br>
<a href="/cat_rental_requests/new">Make more rental request</a>
<br>
<br>
<a href="/cats/<%= @cat.id %>/edit">Edit <%= @cat.name %>'s information</a>
<br>
<a href="/cats">Go back to index page</a>
